.all {
    background-image: url('https://images.unsplash.com/photo-1525547867522-cf8070ed441c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2317bebdc538d5acd90a84383322d11d&auto=format&fit=crop&w=1050&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 0 0;
    height: 100vh;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Courgette', cursive;
}

.grid{
    display: grid;
    /* grid-template-rows: auto; */
    grid-template-columns: auto auto;
}

.me{
    width: 25vw;
    background-image: linear-gradient(to right, rgb(119, 26, 250), rgb(119, 26, 167));
    font-size: 1.2em;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 1.5%;
    overflow: scroll;
}

.img {
    width: 25vw;
    height: 55vh;
    border: 3px solid rgb(119, 26, 167);
    margin-top: 3%;
    margin-left: 14em;
}

