.navbar{
    width: 100vw;
    background-color: rgb(119, 26, 167);
    height: 5vh;
}

.navbar-list-styling {
    display: grid;
    margin-left: 50%;
}

.navabar-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.listen{
    display: inline;
    margin-left: 15%;
}

a {
    color: white;
}

