.evrng{
    background-image: url('https://images.unsplash.com/photo-1507150397127-279c2d8249fb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efc5aa2f1e61e181fcf7c9fe6bf1714c&auto=format&fit=crop&w=1050&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 0 0;
    height: 100vh;
}

.thisstuff{
    padding-top: 20vh;
}

.contact{
    background-image: linear-gradient(to right, rgb(119, 26, 250), rgb(119, 26, 167));
    width: 33vw;
    text-align: center;
    margin-left: 33vw;
}

.control-group{
    display: inline-block;
    padding-left: 5%;
    padding-top: 5%; 
}

.messages{
    width: 90%; 
}

.thisthing{
    padding-top: 5%;
}